<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MQPhotoDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00AC5AB51E97C7E000ED6DB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00AC5ACE1E97C7E000ED6DB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00AC5AD91E97C7E000ED6DB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
